<h2>Template: Básicos</h2>
<hr>
<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
            <div class="mb-3 row">
                <label for="" class="col-sm-2 col-form-label">Producto</label>
                <div class="col-sm-10">
                    <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre del producto...">
                    <span *ngIf="campoValido('nombre')" class="form-text text-danger">El nombre debe contener al menos 3 letras</span>
                </div>
            </div>
            
            <div class="mb-3 row">
                <label for="" class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-10">
                    <input formControlName="precio" type="number" class="form-control" placeholder="Precio del producto...">
                    <span *ngIf="campoValido('precio')" class="form-text text-danger">El precio debe ser mayor a 0</span>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="" class="col-sm-2 col-form-label">Existencias</label>
                <div class="col-sm-10">
                    <input formControlName="existencias" type="number" class="form-control" placeholder="Existencias del producto...">
                    <span *ngIf="campoValido('existencias')" class="form-text text-danger">Las existencias no pueden ser nulas</span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{ miFormulario.valid }}</pre>
        <span>Pristine</span>
        <pre>{{ miFormulario.pristine }}</pre>
        <span>Touched</span>
        <pre>{{ miFormulario.touched }}</pre>
        <span>Value</span>
        <pre>{{ miFormulario.value | json }}</pre>
    </div>
</div>